:root {
    --oranzine: #ff4622;
    --plotis: 1000px;
    --soninis-atstumas: calc((100% - var(--plotis)) / 2);
    --main-width: cac(var(--plotis) + var(--soninis-atstumas));
    --text-width: calc(var(--plotis) * 0.4);
    --text-margin: calc(var(--plotis) * 0.1);
    --image-width: calc(100% - var(--plotis) / 2);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    display: inline-block;
    width: var(--plotis);
    margin-left: var(--soninis-atstumas);
}

header > img {
    float: left;
    height: 50px;

}

nav {
    float: right;
    margin-top: 20px;

}

a{

}

nav > a {
    line-height: 25px;
    font-size: 18px;
    text-decoration: none;
    color: #2c253e;
    margin-left: 20px;
    border-bottom: 3px solid transparent;
}

nav > a:hover {
border-color: orange;
}

nav > a:first-child {
    margin-left: 0;
    border-color: orange;
}

main {
display: inline-block;
width: var(--main-width);
margin-left: var(--soninis-atstumas);
margin-top: 50px;
}

div {
    float: left;
    width: var(--text-width);
    margin-right: var(--text-margin);
    margin-top: 50px;
}

h1 {
    display: inline-block;
    width: 100%;
    font-size: 38px;
    margin: 0;
}

h1 > span {
    color: orange
}

p {
    display: inline-block;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div > a {
    display: inline-block;
    color: white;
    padding: 10px;
    background-color: orange;
    text-decoration: none;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 6px;

}

div > a:hover {
    background-color:var(--oranzine);
    color: #fff;
}

main > img {
    float: left;
    width: var(--image-width)
}







